.nav-personal {
  background:rgb(94, 198, 104);
  height: 75px;
  .personal-logo {
    width: 69px;
    height: 60px;
    margin-top: -8px;
  }
  .text-personal {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
}