<div class="slogan">
  <h1 class="slogan-content"><strong>WORK HARD BE NICE</strong></h1>
  <div class="cv-lasted-version">
    <p class="cv-label">
      <a>Cirriculum Vitae</a>
      <a><i class="fa fa-pencil"></i></a>
    </p>
    <span class="cv-note">(The lasted version)</span>
  </div>
</div>
<div class="row cv-history">
  <div class="history-tags">
    <div class="col-md-7 history-column">
      <p>CV History</p>
    </div>
    <div class="col-md-2 history-column version">
      <p>Version</p>
    </div>
    <div class="col-md-2 history-column date">
      <p>Updated date</p>
    </div>
  </div>
  <div class="history-content">

  <div class="history">
    <div class="col-md-7">
      <a href="#">First CV</a>
      <p>This is my first CV version</p>
    </div>
    <div class="col-md-2">
      <p>1.0</p>
    </div>
    <div class="col-md-2">
      <p>15/07/2015</p>
    </div>
  </div>
  <div class="history">
    <div class="col-md-7">
      <a href="#">First CV</a>
      <p>This is my first CV version</p>
    </div>
    <div class="col-md-2">
      <p>1.0</p>
    </div>
    <div class="col-md-2">
      <p>15/07/2015</p>
    </div>
  </div>


</div>