<div class="slogan">
  <h1 class="slogan-content"><strong>CIRRICULUM VITAE LIST</strong></h1>
  <div class="cv-lasted-version">
    <span class="cv-note">Please choose a team!</span>
  </div>
</div>

<div class="row cv-history">
  <div class="history-tags">
    <div class="col-md-7 history-column">
      <p>Name</p>
    </div>
    <div class="col-md-2 history-column version">
      <p>CV</p>
    </div>
    <div class="col-md-2 history-column date">
      <p>Updated date</p>
    </div>
  </div>

  <div class="history-content">
    <div class="history">
      <div class="col-md-7">
        <a href="#">Nguyen Van A</a>
      </div>
      <div class="col-md-2">
        <a>1.0</a>
      </div>
      <div class="col-md-2">
        <p>15/07/2015</p>
      </div>
    </div>

    <div class="history">
      <div class="col-md-7">
        <a href="#">Nguyen Van A</a>
      </div>
      <div class="col-md-2">
        <a>1.0</a>
      </div>
      <div class="col-md-2">
        <p>15/07/2015</p>
      </div>
    </div>

    <div class="history">
      <div class="col-md-7">
        <a href="#">Nguyen Van A</a>
      </div>
      <div class="col-md-2">
        <a>1.0</a>
      </div>
      <div class="col-md-2">
        <p>15/07/2015</p>
      </div>
    </div>

    <div class="history">
      <div class="col-md-7">
        <a href="#">Nguyen Van A</a>
      </div>
      <div class="col-md-2">
        <a>1.0</a>
      </div>
      <div class="col-md-2">
        <p>15/07/2015</p>
      </div>
    </div>

    <div class="history">
      <div class="col-md-7">
        <a href="#">Nguyen Van A</a>
      </div>
      <div class="col-md-2">
        <a>1.0</a>
      </div>
      <div class="col-md-2">
        <p>15/07/2015</p>
      </div>
    </div>

    <div class="history">
      <div class="col-md-7">
        <a href="#">Nguyen Van A</a>
      </div>
      <div class="col-md-2">
        <a>1.0</a>
      </div>
      <div class="col-md-2">
        <p>15/07/2015</p>
      </div>
    </div>

    <div class="history">
      <div class="col-md-7">
        <a href="#">Nguyen Van A</a>
      </div>
      <div class="col-md-2">
        <a>1.0</a>
      </div>
      <div class="col-md-2">
        <p>15/07/2015</p>
      </div>
    </div>
  </div>
</div>