<div class="slogan">
  <h1 class="slogan-content"><strong>CIRRICULUM VITAE LIST</strong></h1>
  <div class="cv-lasted-version">
    <%= select_tag :team_id, options_from_collection_for_select(@teams, "id", "name"), 
                   :'data-remote' => 'true', 
                   :'data-url' => url_for(controller: :users, action: :list),
                   class: "btn btn-default choose-team-btn", id: "team" %>
  </div>
</div>
<div class="row cv-list">
  <div class="cv-list-tags">
    <div class="col-md-1 list-column no-tag">No.</div>
    <div class="col-md-6 list-column list-name-tag">
      <p>Name</p>
    </div>
    <div class="col-md-2 list-column cv-file-tag">
      <p>CV</p>
    </div>
    <div class="col-md-2 list-column date-tag">
      <p>Updated date</p>
    </div>
  </div>


</div>