<!--   <div class="list-content" id="members">
    <% @members.each do |member| %>
      <div class="list-detail">
        <div class="col-md-1 no-detail">1</div>
        <div class="col-md-6 name-detail">
          <p><%= member.username %></p>
        </div>
        <div class="col-md-2 file-detail">
          <%= link_to "Download", member.cv.url(:original, false), download: member.cv_file_name %>
        </div>
        <div class="col-md-2 date-detail">
          <p><%= member.cv_updated_at.strftime("%d-%m-%Y") %></p>
        </div>
      </div>
    <% end %>
  </div> -->