.cv-upload-body,
.update-profile-body {
  border-bottom: none;
  height: 130px;
  position: relative;
  top: 25px;
  left: 13px;
  width: 100%;
  font-family: lovelo,sans-serif;
  text-transform: none;
  font-style: italic;
  .upload-cv-note {
    margin-top: 10px;
  }
}

.upload-modal-content {
  width: 400px;
  height: auto;
  top: 41px;
  right: 261px;
}

.upload-modal-header {
  color: #5EC668;
}

.update-modal-content {
  width: 800px;
  margin: 42px 0 0 -259px;
  
}

.update-profile-body {
  height: 311px;
  left: 60px;
}