.personal-content {
    padding-left: 13px;
    padding-right: 6px;
    margin-top: -2px;
    color: white;
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown .dropdown-menu {
        position: absolute;
        top: 100%;
        // left: 606px;
        margin: 0;
        list-style: none;
        width: 10%;
        padding: 0;
        margin-right: -16px;
        margin-top: -3px;
        background: rgb(94, 198, 104);
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown span i {
        color: #fff;
        border: none;
        margin: 0;
        padding: 23px 20px;
        font-size: 28px;
    }
    .dropdown a {
        display: block;
        padding: 0.2em 0.8em;
        text-decoration: none;
        background: rgb(94, 198, 104);
        color: #333333;
    }
    .dropdown span i:hover,
    .dropdown span i:focus {
        background: rgb(94, 198, 104);
    }
    .menu-personal {
        // margin-left: 600px;
        font-size: 20px;
        font-weight: bold;
    }
    .item-dropdown a {
        color: #fff;
        &:hover, &:focus {
            font-size: 16px;
            background: #fff;
            color: rgb(94, 198, 104);
        }
    }
}