
.about-content {
  background: #000;
  margin-top: -10px;
  .about-title {
  font-size: 52px;
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid;
  width: 400px;
  margin-top: 11px;
  margin-bottom: 62px;
  }
  .about-subitem {
    color: #fff;
    font-weight: bold;
  }
}
