//= depend_on_asset "add-account.png"
.slogan .account-center-label {
  margin: 0px 0px 50px 209px;
}

/*.management-center {
  background: #ccc;
}*/

.add-account,
.edit-account,
.add-team {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 324px;
}

.add-account {
  left: 393px;
}

.edit-account {
  left: 684px; 
}

.add-team {
  left: 105px; 
}

.add-acc-img, 
.edit-acc-img,
.add-team-img {
  width: 170px;
  height: 170px;
}

/*.edit-acc-img {
  width: 192px;
  height: 191px;
}*/

/*.add-acc-content {
  width: 500px;
}*/