@import url(http://fonts.googleapis.com/css?family=Domine:400,700);
.main-content,
.slogan,
.cv-lasted-version,
.cv-history,
.personal-info,
.user-avatar {
  display: block;
}

.personal-page {
  margin: 0px 0px;
  padding: 0px 0px;
}

.main-content {
  height: 100%;
  margin: auto;
  padding-right: 0px; 
}

.slogan {
  /*background: #B6E7CB; */
  position: relative;
  z-index: 2;
  padding: 100px 0px 10px; 
  margin-left: -30px;
  font-family: 'Domine', serif;
  color: #4FB959;
  border-bottom: solid 1px #85D28C; 
  .slogan-content,
  .account-center-label {
    margin: 0px 0px 50px 319px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
  }
  .upload-cv-title {
    display: block;
    margin: 0px 0px 10px 320px;
    font-size: 20px;
    color: red;
  }
  .upload-cv-btn {
    margin: 0px 0px 20px 426px;
    height: 35px;
  }
  .cv-label {
    margin-left: 453px;
    font-size: 20px;
    color: red;
  }
  .cv-note {
    margin-left: 411px;
    color: #444544;
  }
}

.cv-lasted-version {
  height: 70px;
  opacity: 0.5;
  margin-left: -50px;
  .fa-pencil {
    color: black;
    font-size: 16px;
    margin-left: 10px;
  }
  .cv-note {
    color: black;
  }
}

.cv-history,
.cv-list {
  .history-tags,
  .cv-list-tags {
    padding-bottom: 50px;
    .history-column,
    .list-column {
      border-bottom: solid 1px #ccc;
      font-weight: bold;
      color: #33983C;
      margin-top: 10px;
      margin-left: -5px;
    }
  }
}

.personal-info {
  position: fixed;
  top: 0px;
  right: 0px;
  background: #000;
  opacity: 0.9;
  padding: 0px 15px;
  height: 700px;
  text-decoration: center;
  .img-avatar {
    position: relative;
    top: -89px;
    left: 132px;
    font-size: 35px;
    opacity: 0;
    &:hover, &:focus {
      opacity: 1.5;
    }
  }
  .user-avatar {
    margin: 55px 0px 0px 74px;
  }
  .username {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    margin: 24px 0px 0px 63px;
    color: #fff;
  }
  .user-info {
    font-size: 16px;
    margin-top: 20px;
    color: #fff;
    .icons {
      margin-top: 10px;
      .fa {
        font-size: 15px;
        margin: 5px;
      }
      .fa-male,
      .fa-skype,
      .fa-home {
        font-size: 19px;
      }
      .fa-mobile {
        font-size: 23px;
      }
      .fa-envelope {
        font-size: 14px;
      }
    }
    .info {
      p {
        margin: 15px;
      }
      .edit-profile {
        margin: 10px 0px 0px 17px;
        background: #5EB694;
        color: white;
      }
    }
  }
}
